/.metadata
/Aide
/application-java/.settings
/SQL/.idea
/application-java/src/config.properties
application-java/bin/config.properties
/application-java/bin
/application-java/bin/modele
application-java/src/config.properties
config.properties
application-java/src/key.config
/.sonarlint
